{%include 'adminheader.html'%}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD3MPnSnyWwNmpnVEFkaddVvy_GWtxSejs&sensor=false"></script>
    <script type="text/javascript">
        // window.onload = function () {
          function myFunction(){
            var mapOptions = {
                center: new google.maps.LatLng(9.9763482, 76.286272),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
                alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
              document.getElementById('lat').value = e.latLng.lat();
                document.getElementById('lon').value = e.latLng.lng();
           

            });
        }
    </script>


      <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="static/img/carousel-bg-1.jpg" alt="Image" style="height: 1000px">
                    <div class="carousel-caption d-flex align-items-center">
                        <div class="container">
                            <div class="row align-items-center justify-content-center justify-content-lg-start">



<center>
	<h1 style="color: white">Manage hotels</h1>
	<form method="post" enctype="multipart/form-data">
		{% if data['hotelsup']%}
		<table class="table" style="width: 500px;color: white">
		<tr>
			<th>hotels</th>
			<td><input type="text" required="" class="form-control" value="{{data['hotelsup'][0]['hotalname']}}" name="hotels"></td>
		</tr>
		<tr>
			<th>Hotel Rent</th>
			<td><input type="text" required="" class="form-control"  value="{{data['hotelsup'][0]['hotelrent']}}" name="place"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="text" required="" class="form-control"  value="{{data['hotelsup'][0]['email']}}" name="email"></td>
		</tr>
		<tr>
			<th>image</th>
			<td><input type="file"  required="" class="form-control" value="{{data['hotelsup'][0]['image']}}" name="img"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text"  required="" pattern="[0-9]{10}" class="form-control"  value="{{data['hotelsup'][0]['phone']}}"name="number"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
		</tr>
	</table>
	{% else %}
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>hotels</th>
			<td><input type="text" required="" class="form-control" name="hotels"></td>
		</tr>
		<tr>
			<th>Hotel Rent</th>
			<td><input type="text" required="" class="form-control"  name="place"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="text" required="" class="form-control"   name="email"></td>
		</tr>
		<tr>
			<th>image</th>
			<td><input type="file" required="" class="form-control" name="img"></td>
		</tr>

		<tr>
			<th>Phone Number</th>
			<td><input type="text"  required=""  pattern="[0-9]{10}"  class="form-control" name="number"></td>
		</tr>
<tr>	
           <th>Latitude</th>
            <td><input type="text"  name="lat" class="form-control" id="lat">
            <a class="btn btn-success" onclick="myFunction();"><b>View Map</b></a>
            </td>
        </tr>
         <tr>
            <th>Longitude</th>
            <td ><br><input type="text" name="lon"   class="form-control" id="lon"></td>
        </tr>

		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="add"></td>
		</tr>
	</table>


	<table>
       <tr>

          <td>
	     <div id="dvMap" style="width: 600px; height: 400px"></div>

	   </td>

</tr>
    </table>
	{% endif %}
	</form>
</center>
</div></div></div></div></div></div></div>
<center>
	<h1>View hotels</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>hotalname</th>
			<th>hotel rent</th>
			<th>Emails</th>
         	<th>image</th>
         	<th>Number</th>
         	<th>Place</th>



		</tr>
		{% for row in data['hotels']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['hotalname']}}</td>
			<td>{{row['hotelrent']}}</td>
			<td>{{row['email']}}</td>
			


			<td><img src="/{{row['photo']}}" width="100" height="100"></td>
			<td>{{row['phone']}}</td>
				<td><a class="btn btn-primary" href="http://www.google.com/maps?q={{row['latitude'] }},{{row['longitude'] }}">Click Me</a></td>


			<td><a class="btn btn-success" href="?action=delete&hid={{row['hotel_id']}}">delete</a></td>
			<td><a class="btn btn-success" href="?action=update&hid={{row['hotel_id']}}">Update</a></td>
		</tr>

		{%endfor %}
	</table>
</center>

{% include 'footer.html'%}